/* shared style */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

.display-flex{
  display: flex;
}

.primary-btn{
  background-color: #E02C6D;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 2.5rem;
}

main{
  max-width: 1360px;
  margin: 0 auto;
}

main > section{
  margin-top: 100px;

}




/* Navbar styles */
.navbar{
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  /* border:1px solid black ; */
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1.8rem;
}

.nav-content {
  gap: 2.2rem;
}

.nav-content li{
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  color: #3A3A3A;
}

.nav-content li a{
  text-decoration: none;
  color: #3A3A3A;
}

/* banner styles */

.banner{
  margin: 0 auto;
  max-width: 1360px;
  gap: 8.2rem;
  justify-content: center;
  align-items: center;

}

.banner-content{
  max-width: 850px;
}

.banner-content .banner-h1{
  color: #3A3A3A;
  font-size: 3.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-content .banner-p{
  color: #3A3A3A;
  font-size: 1rem;
  font-weight: 600;
  max-width: 500px;
  margin-bottom: 1rem;
}

/* logo section style */

.logo{
  border-top: 1px solid #C0CCDA;
  border-bottom: 1px solid #C0CCDA;
  justify-items: center;
  padding: 2.5rem 0;
  margin-bottom: 100px;

}

.logo-container{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4rem;
}

/* collection styles */
.collection h2{
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}
.collection-card{
  width: 328px;
  height: 475px;
  border: none;
  border-radius: .5rem;
  padding: 16px;
  text-align:left;
  box-shadow: 0 0 30px lightgray;
  
}

.collection-card img{
  width: 100%;
}





/* media responsive */
@media screen  and (max-width: 576px){

  header{
    justify-items: center;
    align-content: center;
  
  }
  
  .navbar
  {
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .banner{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-items: center;
  }

  .banner img{
    width: 100%;
  }

  .nav-content{
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
  }

  .logo{
    border: none;
  
  justify-items: center;
  margin-bottom: 100px;

}

  .logo-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-items: center;
  justify-content: center;
}

.collection{
  justify-items: center;
    align-content: center;
}

.collection-container{
  grid-template-columns: repeat(1,1fr);
}

.collection-card{
  width: 100%;
}


  
}





